BODY
{
FONT-SIZE: 12px;
FONT-FAMILY: ו;
background:#CAD7F7;
}

TD
{
FONT-SIZE: 9pt;
FONT-FAMILY: ו; 
}

A:link {
      	COLOR: #000000;  
		TEXT-DECORATION: none 
}

A:visited {
	     COLOR: #000000;  
	     TEXT-DECORATION: none
 }

A:hover {	
        COLOR: #CC0000;  
        TEXT-DECORATION: underline 
}