A.14link:link {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.14link:visited {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.14link:active {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14link:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋体"
}
A.8link:link {
	FONT-SIZE: 8px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.8link:visited {
	FONT-SIZE: 8px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.8link:active {
	FONT-SIZE: 8px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.8link:hover {
	FONT-SIZE: 8px; COLOR: #ff6600; FONT-FAMILY: "宋体"
}
A.14link2:link {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14link2:visited {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14link2:active {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14link2:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋体"
}
.new21ct {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12font {
	FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.cssdi {
	FONT-SIZE: 14px; COLOR: #2a58b4; FONT-FAMILY: "宋体"
}
.textareacss {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #003399; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #e0e0e0; TEXT-DECORATION: none
}
.new21ct22 {
	FONT-SIZE: 14px; COLOR: #0066cc; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.border {
	BORDER-RIGHT: #000000 1px dotted; BORDER-TOP: #000000 1px dotted; BORDER-LEFT: #000000 1px dotted; BORDER-BOTTOM: #000000 1px dotted
}
A.12link:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12link:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12link:active {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.12link:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋体"
}
A.12linkwhite:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12linkwhite:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12linkwhite:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.12linkwhite:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: "宋体"
}
A.14noline:link {
	FONT-SIZE: 14px; COLOR: #2a58b4; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14noline:visited {
	FONT-SIZE: 14px; COLOR: #2a58b4; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14noline:active {
	FONT-SIZE: 14px; COLOR: #2a58b4; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.14noline:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.14textarea {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14black {
	FONT-SIZE: 14px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.14blue {
	FONT-SIZE: 14px; COLOR: #006699; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14white {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14linkWhite {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"
}
.15black {
	FONT-SIZE: 15px; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12black {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12blackLine {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12linkBlue {
	FONT-SIZE: 12px; COLOR: #003399; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"
}
.en {
	FONT-SIZE: 12px; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.16black {
	FONT-SIZE: 16px; LINE-HEIGHT: 22px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14font {
	FONT-SIZE: 14px; COLOR: #999999; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14white2 {
	FONT-SIZE: 14px; COLOR: #ff3300; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.writeblack {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 14px; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ff3300; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.12Black22HuiDI {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.font_blue {
	FONT-SIZE: 12px; COLOR: #2a58b4
}
.font_news {
	FONT-SIZE: 14px; LINE-HEIGHT: 25px
}
.font_blue_big {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #3051a9; TEXT-DECORATION: none
}
.font_Gray {
	FONT-SIZE: 12px; COLOR: #999999; TEXT-DECORATION: none
}
.12textarea {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.14black2 {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.EshopTitle {
	FONT-SIZE: 20px; FONT-FAMILY: "黑体"
}
A.12gray:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12gray:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.12gray:active {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.12gray:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"
}
.12writetextarea {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f6f6f6
}
.new21ct2 {
	FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12blacklink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.14blacklink {
	FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.12textareaYellow {
	BORDER-RIGHT: #cccc00 2px solid; BORDER-TOP: #cccc00 2px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccc00 2px solid; COLOR: #000000; BORDER-BOTTOM: #cccc00 2px solid; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.12textaraHui {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.20black {
	FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: "黑体"; TEXT-DECORATION: underline
}
.12white {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.FLborder {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.enwhite {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.Agentborderblue {
	BORDER-RIGHT: #1b4f93 1px solid; BORDER-TOP: #1b4f93 1px solid; BORDER-LEFT: #1b4f93 1px solid; BORDER-BOTTOM: #1b4f93 1px solid
}
