TABLE {
	FONT-SIZE: 9pt
}
FORM {
	MARGIN: 0px
}
.pic {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.mytext {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; FONT-FAMILY: ו; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.myselect {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; FONT-FAMILY: ו; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #757575; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.buttons {
	BORDER-RIGHT: #000066 1px ridge; BORDER-TOP: #cccccc 1px ridge; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px ridge; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #000066 1px ridge; FONT-FAMILY: ו; HEIGHT: 20px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
#floater {
	Z-INDEX: 10; LEFT: 500px; VISIBILITY: visible; WIDTH: 125px; POSITION: absolute; TOP: 146px
}
