TD {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 22px
}
A:link {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; LINE-HEIGHT: 22px; TEXT-DECORATION: underline
}
.font14 {
	FONT-SIZE: 14px; LETTER-SPACING: 3px
}
.font22 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; LINE-HEIGHT: 28px
}
